<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pm7.mapper.UserMapper">
    <select id="findByUsername" parameterType="string" resultType="com.example.pm7.model.User">
        SELECT * FROM users WHERE username1 = #{username1}
    </select>

    <insert id="insert" parameterType="com.example.pm7.model.User">
        INSERT INTO users (username,username1, password, email, name, role, created_at, updated_at)
        VALUES (#{username}, #{username1}, #{password}, #{email}, #{name}, #{role}, NOW(), NOW())
    </insert>

    <select id="findAll" resultType="com.example.pm7.model.User">
        SELECT * FROM users
    </select>

    <select id="findById" parameterType="long" resultType="com.example.pm7.model.User">
        SELECT * FROM users WHERE user_id = #{id}
    </select>

    <update id="update" parameterType="com.example.pm7.model.User">
        UPDATE users
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="username1 != null">username1 = #{username1},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="role != null">role = #{role},</if>
            updated_at = NOW()
        </set>
        WHERE user_id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM users WHERE user_id = #{id}
    </delete>

    <update id="updateLastLogout" parameterType="string">
        UPDATE users 
        SET updated_at = NOW()
        WHERE username1 = #{username1}
    </update>
</mapper> 